# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/

# Mac
.DS_Store

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Data artifacts
data/*.csv
data/*.parquet
data/*.pkl
